input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {-moz-appearance: textfield;}

.quantity {
    display: inline;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    height: 50px;
}
.quantity button{
    height: 100%;
    width: 50px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background: none;
    cursor: pointer;
}
.quantity input {
    border: none;
    width: 60px;
    height: 96%;
    text-align: center;
    outline: none;
}

#numero,#uf{width: 80px;}

#cupom{width: 500px;}
