footer {background-color: #5C3D2F;}

hr {background-color: #E0C09A;}

img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

@media screen and (max-width: 768px){
    img {width: 100%;}
}
