@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

header input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    appearance: none;
    width: 21px;
}

.offcanvas-body form {
    width: 50%;
}

.input-group-text, .bi-person, .bi-cart3, .badge {
    cursor: pointer;
}

.badge-itens {
    background-color: #B75C3D;
}

.dropdown-toggle::after {display: none;}

.user {
    bottom: 1rem;
    left: 3rem;
    padding: .35rem;
}

@media screen and (max-width: 1200px) {
    .user {
        bottom: .55rem;
        left: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .offcanvas-body form {
        width: 100%;
    }
}
