/* CAROUSEL BUTTONS */
.carousel-control-prev,
.carousel-control-next {
    margin-top: 8%;
    width: 65px;
    height: 65px;
    background-color: #B75C3D;
}

.carousel-control-prev {
    margin-left: -1.7%;
}

.carousel-control-next {
    margin-right: -1.7%;
}

.btn-conferir,
.btn-conferir:hover {
    background-color: #90BDD2 !important;
    margin-left: 14%;
}

figcaption .badge {
    top: -3.5rem;
    width: 4.1rem;
    right: -2.5rem;
}

#txt1 {
    font-size: 100px;
    margin-top: 7%;
    margin-left: 14%;
}

#txt2 {
    margin-left: 14%;
}

#div-btn {
    margin-top: 5%;
}

.txt {
    margin-left: 5%;
}
