/* CAROUSEL BUTTONS */
.carousel-control-prev, .carousel-control-next {
    margin-top: 8%;
    width: 65px;
    height: 65px;
    background-color: #B75C3D;
}

.carousel-control-prev {
    margin-left: -2.7%;
}

.carousel-control-next {
    margin-right: -2.7%;
}
