/* CATALOG */
.history-header {background-color: #E4D1BA;}

.pagination .active a {
    background-color: #624DE3 !important;
}

/* TABLE */
tr {height: 60px;}

table tbody tr:nth-child(odd) {background-color: #fff;}

table tbody tr:nth-child(even) {background-color: #f6f6f6;}
