@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

main {font-family: 'Montserrat', sans-serif;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

.side-pictures img, .destaque img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.destaque img {
    width: 320px;
}

.description-container p {
    text-align: justify;
}

/*
.books-pictures {
    height: 500px;
}
*/
