@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

main {font-family: 'Montserrat', sans-serif;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

.books-pictures {
    height: 400px;
}

.side-pictures {
    width: 150px;
}

.side-pictures img {cursor: pointer;}

/*
.quantity input {
    border: none;
    width: 60px;
    height: 96%;
    text-align: center;
    outline: none;
}*/

.description-container p {
    text-align: justify;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
    .prod {
        width: 19rem;
    }
}

