@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Arruma footer */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {flex: 1 0 auto;}

.breadcrumb {margin-top: 7.5rem;}

* {font-family: 'Lora', serif;}

.div {
    width: 177px;
    height: 265px;
}

/* A & LI (PAGINAÇÃO) */
.pagination li:first-child span,
.pagination li:last-child span {color: #9e9e9e;}

.pagination li:not(li:first-child, li:last-child) a {
    border-radius: 20%;
    background-color: #E0E0E0;
    width: 36px;
}

.pagination li a,
.pagination li a:focus,
.pagination li a:hover,
.pagination li span {
    font-family: 'Montserrat', sans-serif;
    border: 0;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.pagination .active a {background-color: #2a2a2a !important;}

.name {width: 11rem;}

/* TABLE */
.history-header {background-color: #E4D1BA;}

tr {height: 60px;}

table tbody tr:nth-child(odd) {background-color: #fff;}

table tbody tr:nth-child(even) {background-color: #f6f6f6;}
