/* LOGIN */
.login-background {
    background-image: url('/img/login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

/* CADASTRO */
.cadastro-background {
    background-image: url('/img/cadastro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

button {background-color: #B75C3D !important;}
a:last-child {background-color: #5C3D2F !important;}




