
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ARRUMA O FOOTER */
main {
    flex: 1 0 auto;
}

.breadcrumb {
    margin-top: 8.5%;
}

header, footer {
    font-family: 'Lora', serif;
}
