/* LOGIN */


.login-background,
.cadastro-background {
    left: -1rem;
    width: 100%;
}

.login-background {
    height: 100vh;
}

.cadastro-background {
    height: 100vh;
}

.login-background, .cadastro-background, .logo {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo {width: 16rem;}

.logar {background-color: #B75C3D !important;}

.cadastrar {background-color: #5C3D2F !important;}
