/* Arruma footer */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {flex: 1 0 auto;}

.breadcrumb {margin-top: 9rem;}

header, footer {font-family: 'Lora', serif;}

.div {
    width: 177px;
    height: 265px;
}
