
.login-background{
    background-image: url('/img/login.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.cadastro-background{
    background-image: url('/img/cadastro.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.btn-primary{background-color: #B75C3D;}
.btn-secondary{background-color: #5C3D2F;}
