* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer{
    background-color: #5C3D2F;
    display: flex;
    margin-top: 0 auto;
    height: 300px;
}

.entrega{
    color: white;
    width: 100px;
    display: flex;
}

.Truck{
    color: white;
    font-size: 16px;
    display: flex;
    width: 100px;
}

.Reembolso{
    color: white;
    font-size: 16px;
    display: flex;
    width: 100px;
}

.Phone{
    color: white;
    display: flex;
    width: 100px;
}   

.email{
    color: white;
    font-size: 16px;
    display: flex;
    width: 100%;
}

.Navegue{
    color: white;
    font-size: 16px;
    display: flex;
}

.Redes{
    color: white;
    font-size: 16px;
    display: flex;
}

.Perfil{
    color: white;
    font-size: 16px;
    display: flex;
    margin-left: 90%;
}

.reservado{
    color: #E4D1BA;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

a{
    color: #E4D1BA;
    font-size: 16px;
    display: flex;
}

.line{
    background-color: #E0C09A;
}

.imagens{
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.primeira{
    display: flex;
    justify-content: space-between;
}

.segunda{
    display: flex;
}